@import './../../assets/scss/common.scss';

.header{
    display: flex;
    align-items: center;
    color: $secondary;

    &--size{
        height: 100px;
        width: 100%;
    }

    &--theme{
        background: linear-gradient(to left, $main-primary 5%, $semi-primary 40%, $light-primary 100%);
    }

    &__container{
        margin: auto;
        display: flex;
        align-items: center;

        // &--size{

        // }

        // &--theme{
            
        // }
    }

    &__left{
        display: flex;
        align-items: center;
    }

    &__menus{
        margin-left: 40px;
    }

    &__right{
        margin-left: auto;
    }

    &__logo{
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    &__title{
        margin-left: 10px;
    }

    &__morebutton{
        position: relative;
        text-decoration: none;
        border: 1px solid white;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 2px;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: transparent;

        &:hover{
            transform: translateY(-2px);
            transition: transform .5s;
            background-color: transparent;
        }
    }

    &__buybutton{
        border: none;
        position: relative;
        text-decoration: none;
        border-radius: 2px;
        padding: 10px 15px;
        font-size: 13px;
        background-color: white;
        outline: none;
        margin-left: 20px;
        color: $main-primary;

        &:hover{
            transform: translateY(-2px);
            transition: transform .5s;
        }
    }
}