.headernavbarcomponents{
    position: absolute;

    &--size{
        width: 200px;
        height: 150px;
    }

    &--theme{
        background-color: white;
    }

    &__submenus{
        display: none;
        position: absolute;
        left: -30px;
        top: 30px;
        list-style: none;
        color: black;
        border-radius: 5px;
        padding: 10px;

        &--size{

        }

        &--theme{
            background-color: white;
        }

        &:hover{
            display: block;
        }

        &::before{
            content: "";
            display: block;
            position: absolute;
            border-bottom: 10px solid white;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            top: -10px;
            left: 30px;
        }
    }

    &__submenu{
        font-size: 15px;
        margin: 20px 0;

        &--size{
            width: 100px;
        }

        &--theme{
            
        }
    }
}